@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Pretendard Variable";
  background: linear-gradient(180deg, #362a21 0%, #0d0d0d 100%);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.mypage-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.75rem;
  height: 45.9375rem;
  border-radius: 1.125rem;
  background: rgba(60, 60, 60, 0.3);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

header {
  margin-top: 2.19rem;
  display: flex;
  place-items: center;
  padding: 0 1.81rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.icon {
  width: 1.88213rem;
  height: 2.17888rem;
}

h2 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136%; /* 2.04rem */
  letter-spacing: -0.042rem;
}

.out-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.out-btn img {
  display: block;
}

/* 프로필 사진*/
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*사용자 정보*/
.mypage-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mypage-section {
  display: flex;
  justify-content: center;
  gap: 0.62rem;
}

.mypage-section span {
  width: 85.975px;
  height: 51px;

  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  align-items: center;
}

.mypage-section div {
  font-family: inherit;
  width: 340px;
  height: 51px;
  border-radius: 10px;
  background: #404040;
  border: none;
  padding-left: 1.56rem;
  box-sizing: border-box;

  color: rgba(255, 255, 255, 0.7);
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;
}

/*이메일 복사 버튼*/
div button {
  cursor: pointer;
  border-color: #fff;
  border-radius: 0.625rem;

  margin-left: 15px;
  background: #fff;
  color: #404040;
}
